body {
    background-color: lightblue;
}

h1{
    display: inline;
    color: white;
}

div{
    display: block;
    width: 60%;
    margin: auto;
}

div.header{
    background-color:rgb(30, 60, 194);
    border: double;
}

div.content{
    background-color: azure;
    display: block;
    margin: auto;
}

tr.field_name{
    height: 4em;
    background-color: aquamarine;
    font-size: 1.1rem;
    border-bottom: 1px solid; 
    border-right: 1px solid;
}

th{
    border-bottom: 1px solid; 
    border-right: 1px solid;
}

th.edge{
    border-right: 0;
}

table{
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

h2{
    text-align: center;
    margin: auto;
}